html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
}
p {
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
}
.office {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.room {
    text-align: center;
}
.phone {
    font-size: 11vw;
}
.meeting-id {
    font-size: 4vw;
}