*, *:before, *:after { box-sizing: border-box; }
body {
  padding: 0;
  margin: 25px;
  font-family: Times, 'Times New Roman', serif;
  font-size: 30px;
  color: #c4c4c4;
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-text-size-adjust: none; 
}
h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 30px;
}
a {
    color: #c4c4c4;
}
.active {
    text-decoration: underline !important;
}

/* Header */
header h1 {
    font-style: italic;
}
aside.create {
    text-align: center;
    margin: 100px 0;
}

main.home nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-style: italic;
    margin-bottom: 20px;
}
main.home nav aside {
    margin-left: auto;
    font-size: 25px;
}
main.home nav aside a {
    text-decoration: none;
    margin-right: 4px;
}
main.home nav aside a:hover {
    text-decoration: underline;
}

/* Talks */
.talks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-right: 1px dashed #c4c4c4;
}
.talks a {
    border-top: 1px dashed #c4c4c4;
    border-left: 1px dashed #c4c4c4;
    border-bottom: 1px dashed #c4c4c4;
    padding: 10px;
    text-decoration: none;
}
.talks a .date, .talks a .name {
    font-size: 20px;
}
.talks a .date {
    text-align: right;
    display: block;
    color: #777777;
}
.talks a .title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}
.talks a .title h2 {
    margin-bottom: 5px;
}
